<div id="container-endgame" class=" flex-column align-items-center justify-content-center gap">

    <card class="border-0 d-flex align-items-center justify-content-center container-sm flex-column">
        <h1  class="text-warning">RESULT</h1>
        <h2 id="result" class="text-warning fs-2"></h2>
    </card>

    <a href="/" class="btn btn-success">PLAY AGAIN</a>
</div>